    body {
      margin: 0;
      padding: 0;
    }
    div.nav, nav{
      background-color: pink;
      width: 100%;
    }
    nav {
      padding: 5px;
      position: fixed;
    }

    nav ul{
      text-decoration: none;
      padding: 1px;

    }
    nav ul li{
      font-size: 20px;
      float: left;
      padding-left: 80px;
      list-style: none;
      text-decoration: none;

    }
    nav ul li:hover {
      color: grey;
    }
    form{
      padding-bottom: 10px;
      padding-left: 30px;
    }
    .rat{
      background: url(images/zebra.jpg) no-repeat center;
      background-size: cover;
      display: block;
      height: 100vh;
      width: 206vh;
    }
     h3{
      color: white;
      margin-bottom: 1000px;
      padding-left: -800px;
     }
     #pot{
      text-align: center;
      margin-bottom: 100px;
     }